
.header-1 {
  margin-bottom: 20px;
  font-size: 1.5em;
  
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

  .container-1 {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .form-group-1 {
    margin-bottom: 15px;
    margin-left: 30px;
  }
  
  .form-label-1 {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
   
  }
  
  .form-control-1 {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .form-check-input-1 {
    margin-right: 5px;
  }

  
  .btn-1 {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30;
   
  }
  
  .btn-1:hover {
    background-color: #218838;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  /* p {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
  } */